hostname {{ hostname }}
username admin privilege 15 password encrypted dedc11c65f82bfa77623fb4952080403c301a45d52d6fd4670bb1a3f2dd42636c025b5aa8064b38a97b1abf162bdea3172c7b6defa5e8e7ff6f5fa4ab05851ef
web timeout 0 0

vlan 1
vlan 2
 name TSN
 no flooding

# Disable LLDP
{% for port in ports %}
interface {{ port.name }}
 no lldp receive
 no lldp transmit
{% endfor %}

# Disable MSTP
{% for port in ports %}
interface {{ port.name }}
 no spanning-tree
{% endfor %}

spanning-tree aggregation
 no spanning-tree

# Put frontports on VLAN 2 to isolate them from the management network
{% for port in ports[:-1] %}
interface {{ port.name }}
 switchport access vlan 2
{% endfor %}

# Enable DHCP for management interface
interface vlan 1
 ip address dhcp fallback 192.0.2.1 255.255.255.0 timeout 60
