# The proxy to use for requests
ISTAX_PROXY=socks5h://localhost:9999

# The address of the istax switch to configure
ISTAX_HOST=

# The IStaX username and password
ISTAX_USER=admin
ISTAX_PASS=

# The proxy to use for requests to the IxNetwork REST API
IXN_PROXY=socks5h://localhost:9999

# The hostname or IP address of the chassis and REST API
IXN_ADDRESS=hpscnovus

# The username and password for the API
IXN_USER=
IXN_PASS=

# Comma separated list of physical ports to use
#
# Examples:
#
# IXN_PORTS=1,2,3
# IXN_PORTS=5,6,7
IXN_PORTS=
