# The SOCKS5 proxy to use for requests
ISTAXCFG_PROXY=localhost:9999

# The proxy to use for requests
IXN_PROXY=socks5h://localhost:9999

# The hostname or IP address of the chassis and API
IXN_ADDRESS=hpscnovus

# The username and password for the API
IXN_USER=
IXN_PASS=

# Comma separated list of physical ports to use
#
# Examples:
#
# IXN_PORTS=1,2,3
# IXN_PORTS=5,6,7
IXN_PORTS=
