# Because the microchip switch design does not allow you to create a DWRR port schedule
# on the upper queues only, we need to include all queues in the DWRR schedule, and give
# the highest weight to our high priority time sync queues
{% for port in ports[:4] %}
interface {{ port.name }}
  qos wrr 1 1 1 1 24 24 24 24
{% endfor %}
