# This configuration implements 802.1AS (PTP) over
# the base configuration.



ptp 0 mode boundary twostep ethernet twoway id 00:04:a3:ff:fe:01:00:00 vid 2 0 profile 802.1as mep 1
 ptp 0 filter-type basic
!
{% for port in ports[0:4] %}
interface {{ port.name }}
 ptp 0 
 ptp 0 announce interval 0 timeout 3
 ptp 0 sync-interval -3
 ptp 0 delay-mechanism p2p
 ptp 0 delay-req interval 0
 ptp 0 delay-asymmetry 0
 ptp 0 ingress-latency 0
 ptp 0 egress-latency 0
 ptp 0 mcast-dest link-local
 ptp 0 gptp-interval 0
!
{% endfor %}
!
